{{!< default}}

<div class="min-h-screen relative z-20 flex flex-col">

    {{>"header"}}

    <main id="trex_main" class="flex-1 flex items-center justify-center relative">
        <div class="grid-bg absolute w-full h-full top-0 left-0 right-0"></div>
        <div class="relative z-20">
            <div class="text-center">
                <h1 class="font-black text-5xl mb-6">{{message}}</h1>
                <p class="text-black-600 mb-6 text-lg">{{t "The page you were looking for doesn't exist."}}</p>
                <a href="{{@site.url}}" class="ux-arena_btn !bg-ghost-accent !text-black-950">{{t "Back to home"}}</a>
            </div>
        </div>
    </main>

    {{>"footer"}}

</div>